body {
    background: #0000;
    font-family: cursive;
    font-size: 15px;
    color:green;
    font-weight: bold;
  
}
.box {
     margin-left: 35em;
     margin-top: 6em;
    
}

.App-title {
    margin-left: 4em;
    color: Green;
    font-size: 20px;
}

.Container {
    border: 5px solid lightsalmon;
    border-radius: 15px;
    width: 400px; 
}

.btn {
    background: coral;
    margin: 20px;
}

.add-btn {
    background: coral;
    width: 40px;
    height: 40px;
}

.input {
    align-items: center;
    text-align: center;
}

.input li {
    list-style: none;
}

@media (max-width: 790px) {
    .box {
        margin-left: 10em;
        margin-top: 6em;
   }

   .App-title {
       margin-left: 1em;
    color: lightcoral;
    font-size: 10px;
}

.Container {
    border: 5px solid lightsalmon;
    border-radius: 10px;
    width: 150px; 
}

.btn {
    background: coral;
    margin: 10px;
}

.add-btn {
    background: coral;
    width: 20px;
    height: 20px;
}

input {
    
    align-items: center;
    text-align: center;
    width: 90px;
}




}